:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--Dark-cyan);
}
.container__top {
    position: absolute;
    top: -630px;
    left: -750px;
}
.container__bottom {
    position: absolute;
    right: -800px ;
    bottom: -550px;
}

.card {
    width: 320px;
    height: 400px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px 10px 10px 10px;
}
.card__container1 {
    width: 100%;
    height: 40%;
}
.card__container1__fondo {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.card__container1__img-perfil {
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50%;
    border-radius: 50%;
    border: 5px solid #fff;
}

