:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 4%, 91%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--Dark-cyan);
}
.container__top {
    position: absolute;
    top: -630px;
    left: -750px;
}
.container__bottom {
    position: absolute;
    right: -800px ;
    bottom: -550px;
}
.card {
    width: 320px;
    height: 400px;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px 10px 10px 10px;
}
.card__container1 {
    width: 100%;
    height: 40%;
}
.card__container1__fondo {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.card__container1__img-perfil {
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50%;
    border-radius: 50%;
    border: 5px solid #fff;
}
.card__container2 {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid var(--Dark-gray);
}
.card__container2__title {
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);
    margin-top: 30px;
}
.color-text {
    margin-left: 5px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
.card__container2__text-city {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
.card__container3 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card__container3__info {
    text-align: center;
}
.card__container3__info__dato {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--Very-dark-desaturated-blue);
}
.card__container3__info__tipo-dato {
    color: var(--Dark-grayish-blue);
    letter-spacing: 1px;
}
